@import "https://fonts.googleapis.com/css?family=Lato:400,700";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
:root{
  --main-bg-color: #770456;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);


  font-family: "Lato", sans-serif;
}

#page-wrapper {
  position: relative;

}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

/** global classes styling **/

.container {
  // max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background-color:var(--main-bg-color);
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

.grid {
  display: flex;
}

header {
  position: sticky;
  top: 0;
  // min-height: 50px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);

}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}



.logo {
  width: auto;

}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo > img {
  // width: 85%;
  // height: 85%;
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  // margin: 20px;
  padding: 15PX;
  border-radius: 20px;
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav {
  font-weight: 400;

}

.nav-link{
  color: #fff;
  font-size: 1rem;
}
.nav-link:hover{
  color: #42C534;
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 25px;
  }
  nav li {
    padding-bottom: 5px;

  }
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  

  // margin-top: 50px;
  padding: 0 50px;
  background-image: url(/docs/img/background.png);
  height: 90vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#hero > h2 {
  // margin-bottom: 20px;
  // word-wrap: break-word;

  font: 45px/1.1em "opensans-bold", sans-serif;
  color: #fff;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

#hero input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

#hero input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #CB0994;
  color: #fff;
}

#hero input[type="submit"]:hover {
  background-color: #770456;
  transition: background-color 1s;

}

@media (max-width: 650px) {
  #hero {
    // margin-top: 120px;
  }
}

#features {
  margin-top: 30px;
  background-color: #8D0D89;
  color: #42C534;
  
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: #42C534;

}

@media (max-width: 550px) {
  #features .icon {
    display: none;
  }
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

@media (max-width: 550px) {
  #features .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
}

#how-it-works {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#how-it-works > iframe {
  max-width: 560px;
  width: 100%;
}

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #8D0D89;
  
}

.product > .level {
  background-color: #42C534;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > h2 {
  margin-top: 15px;
}

.product > ol {
  margin: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #42C534;
  font-weight: 400;
}

.product > button:hover {
  background-color: #dfff00;
  transition: background-color 1s;
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
// .product img {
//   width: 150px;
// }

footer {
  margin-top: 30px;
  background-color: #770456;
  color: #42C534;
  
  padding: 20px;
}
footer a {
  color: #42C534;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
  color: #42C534;
}

footer > ul > li {
  padding: 0 10px;
  color: #42C534;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #dfff00;
}
